body {
    background: #fff;
}

.detail {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;
}

.detail__img {
    margin-top: 25px;
}

.detail__img img {
    width: 600px;
}

.detail__content {
    width: 600px;
}

h1 {
    margin: 0px;
}

.brand-name {
    margin: 0px;
}

.price__num {
    font-size: 2rem;
}

.icon {
    margin: 10px 20px;
    display: flex;
    gap: 20px;
}

.icon img {
    height: 30px;
    margin: 0px 10px;
}

.avatar-preview {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}

.good p {
    text-align: center;
}

.good__button {
    background: none;
    border: none;
}

.hukidasi p {
    text-align: center;
}

.detail__purchase {
    width: 100%;
}

.detail__purchase a {
    width: 100%;
    padding: 10px 30px;
    background: #ff5555;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.detail__inf {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.detail__category {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 15px;
    max-width: 100%;
    margin-left: 20px;
}

.product-category-tag {
    padding: 3px 10px;
    background: #d9d9d9;
    border-radius: 30px;
}

.comment {
    margin-bottom: 20px;
}

.avatar-preview img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment__name {
    font-weight: bold;
}

.comment__content {
    width: 100%;
    padding: 15px 10px;
    background: #e5e5e5;
    color: #000;
}

.new-comment {
    width: 100%;
}

.new-commnet__text {
    display: block;
    width: 100%;
    height: 200px;
}

.new-commnet__button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #ff5555;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
}

.error {
    color: red;
    margin: 10px 20px;
}