.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 13px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header__inner img {
    height: 30px;
}

.header__item {
    display: flex;
    gap: 15px;
}

.header__search-text {
    font-size: 1.2rem;
    width: 400px;
    padding-left: 30px;
}   

.header__logout button {
    background: #000;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 0px;
}

.header__mypage {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.header__sell {
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 2px 10px;
}

body {}

input,
textarea,
button,
select {
    font-family: "Inter", sans-serif;
}